
$c-whiteColor: #ffffff;

$c-bodyColor: #3D3D3D;

$c-gradient-top: #ffa97a;
$c-gradient-bottom: #ff0000;
$c-gradient-topLogin: #d9e021;
$c-gradient-bottomLogin: #736357;
$c-gradient-topButton: #808080;
$c-gradient-bottomButton: #000000;